<!DOCTYPE HTML>
<html>
    <head>
        <title>
            {{data['page_type'].title()}} {{data['check'].replace('_', ' ')}}
        </title>
        <link href="/static/style.css" rel="spreadsheet">
        <link href="/static/images/nyjc-logo.png" rel='icon'>
    </head>

    
    <body>
        {% include "header.html" %}
        <br><br><br>
        <form action="{{data['form_meta']['action']}}" method="{{data['form_meta']['method']}}" id="form">
            <div class="container-1">
                <h1>{{data['page_type'].replace('_', ' ').upper()}} {{data['check'].replace('_', ' ').upper()}}</h1>
                <div class='container-box'>
                    <div id='check-msg' class='highlight-red'></div>
                    
                    {% if data['path'] == 'confirm' %}
                    <span class="highlight-green">Confirm inputted data.</span>
                    <br><br>
                    {% elif data['path'] == 'success' %}
                        <span class="highlight-green">{{data['check'].replace('_', ' ').upper()}}: Success!</span>
                        <br><br>
                    {% elif data['path'] == 'fail' %}
                    <span class="highlight-red">{{data['check'].replace('_', ' ').title()}} {{data['msg']}}</span>
                    <br><br>
                    {% endif %}
                    
                    {% for key, value in data['form_data'].items() %}
                    <div class="grid">
                        <div class='label'>
                            <label for="{{key}}" name="{{key}}">{{key.replace("_", " ").title()}}:</label>
                        </div>
                        {% if data['path'] == 'success' %}
                            <div class="input">
                                {% if data['form_type'][key] == 'radio' %}
                                    <span>{{data['checked'][key].title()}}</span>
                                {% else %}
                                    <span>{{value.title()}}</span>
                                {% endif %}
                            </div>
                        {% else %}
                            {% if data['form_type'][key] == 'radio' %}
                                <div class='radio'>
                                {% for option in value %}
                                    {% if data['path'] == 'confirm' and data['checked'][key] == option %}
                                        <input class='{{key}}' id="{{option}}" type="{{data['form_type'][key]}}" name="{{key}}" value="{{option}}" checked>
                                    {% else %}
                                        <input class='{{key}}' id="{{option}}" type="{{data['form_type'][key]}}" name="{{key}}" value="{{option}}" required>
                                    {% endif %}
                                    <label for="{{option}}">{{option.title()}}</label>
                                {% endfor %}
                                </div>
                            {% else %}
                                <div class="input">
                                    <input id="{{key}}" type="{{data['form_type'][key]}}" name="{{key}}" value="{{value}}" required>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                    <br>
                    {% endfor %}
                    
                    <div align='center' class="submit">
                        {% if data['path'] == 'success' %}
                            <input type='submit' value="{{data['page_type'].title()}} another {{data['check'].replace('_', ' ').title()}}" id='submit'>
                        {% else %}
                            <input type='submit' value="Submit" id='submit'>
                        {% endif %}
                    </div>
                    
                </div>
            </div>
        </form>
        {% include "footer.html" %}
    </body>
</html>