<!DOCTYPE HTML>
<head>
    <link href="static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class='navbar'>
        <a href="/"><i class="fa fa-home"></i></a>
        <div class='dropdown'>
            <p>Add <i class="downcaret"></i></p>
            <div class='dropcontent'>
                <div class='underline'></div>
                <a href="/add_cca">Add a new CCA</a>
                <a href="/add_activity">Add a new activity</a>
            </div>
        </div>
        <div class='dropdown'>
            <p>View <i class="downcaret"></i></p>
            <div class='dropcontent'>
                <div class='underline'></div>
                <a href="/view_student">View Students</a>
                <a href="/view_class">View Classes</a>
                <a href="/view_cca">View CCAs</a>
                <a href="/view_activity">View Activities</a>
            </div>
        </div>
        <div class='dropdown'>
            <p>Update <i class="downcaret"></i></p>
            <div class='dropcontent'>
                <div class='underline'></div>
                <a href="/update_cca">Update an existing CCA</a>
                <a href="/update_activity">Update an existing activity</a>
            </div>
        </div>
    </div>
    <br>
</body>