<!DOCTYPE HTML>
<head>
    <link href="static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class='navbar'>
        <a href="/"><i class="fa fa-home"></i></a>
        <a href="/about">About SKL</a>
        <div class='dropdown'>
            <p>Add <i class="downcaret"></i></p>
            <div class='dropcontent'>
                <div class='underline'></div>
                <a href="/new_cca">Add a new CCA</a>
                <a href="/new_act">Add a new activity</a>
            </div>
        </div>
        <div class='dropdown'>
            <p>View <i class="downcaret"></i></p>
            <div class='dropcontent'>
                <div class='underline'></div>
                <a href="/class">View Classes</a>
                <a href="/cca">View CCAs</a>
                <a href="/act">View Activities</a>
            </div>
        </div>
        <div class='dropdown'>
            <p>Update <i class="downcaret"></i></p>
            <div class='dropcontent'>
                <div class='underline'></div>
                <a href="/update_cca">Update an existing CCA</a>
                <a href="/update_act">Update an existing activity</a>
            </div>
        </div>
    </div>
    <br>
</body>